.card {
  background: var(--article-bg);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.imageWrapper {
  position: relative;
  overflow: hidden;
}

.image {
  transition: filter 0.3s ease, transform 0.3s ease;
}

.card:hover .image {
  filter: grayscale(50%);
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay p {
  color: white;
  font-size: 0.9rem;
  text-align: center;
}

.content {
  padding: 1rem;
  border-radius: 0 0 20px 20px;
}

.content h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 1rem;
}

.tags span {
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  font-size: 0.75rem;
  transition: all 0.2s;
}

.cta {
  display: flex;
  gap: 1rem;
}

.underline {
  padding: 0.2rem 0;
  font-size: 0.9rem;
  letter-spacing: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(120deg,
      var(--accent-color) 100%,
      var(--accent-color) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline:hover {
  background-size: 100% 88%;
}